<link rel="stylesheet" href="/css/header.css">

<header>
    <div id="logo"><img src="https://files.codingninjas.in/logo_variants-white-25005.png" alt=""></div>
    <ul>
        <li><a href="/"> <i class="fa-solid fa-house"></i> Dashboard</a></li>
        <li><a href="/students"> <i class="fa-solid fa-plus"></i> Student</a></li>
        <li><a href="/interviews"> <i class="fa-solid fa-plus"></i> Interview</a></li>
        <li><a href="/csv/export"><i class="fa-solid fa-download"></i> Download Report </a></li>
        <li><a href="/jobs">Jobs</a></li>
    </ul>
    <li><a href="/users/sign-out"> Sign Out <i class="fa-solid fa-arrow-right-from-bracket"></i> </a></li>
</header>