<link rel="stylesheet" href="/css/interview.css">

<div id="container">
    <form action="/interviews/create" method="POST">
        <table class="table table-striped border">
            <tbody>
                <tr>
                    <td>Name of Company</td>
                    <td>
                        <input type="text" name="company" required>
                    </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>
                        <input type="date" name="date" required>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <input id="submit" type="submit" value="Submit">
    </form>
</div>

<script>
    li[2].style.borderBottom = "2px solid white";
</script>