<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/sign_up.css">
</head>
<body>
    <div class="container">
        <form action="/users/create" method="POST">
            <h1>
                Sign Up
            </h1>

            <div>
                <label for="name"> Name </label>
                <input type="text" name="name" id="name" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm-password" required>
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>

            <p id="signup-page-link"> Already a user? <a href="/users/sign-in"> Sign in</a></p>
        </form>

    </div>
</body>
</html>